/* barra de navegacion */

.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
/* estilos generales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2.5rem;
    font-family:  cursive,'Rubik Dirt';
    font-weight: bold;
}
.seccion-titulo{
    font-style: 2rem;
    padding: 15px;
    font-family:  cursive,'Rubik Dirt';
    font-weight: bold;
}
.seccion-texto{
    font-size: 1.2rem;
}
.texto-negro{
    color: #333;
}
.texto-blanco{
    color: #fff;
}
.seccion-descripcion{
    font-size: 1.2rem;
    color: #584e4e;
}

/* section hero */
.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}
.hero-principal{
    padding: 3rem;
}
.hero-imagen-perfil{
    width:200px;
    height:200px;
    border: 4px solid #da7294;
    border-radius: 50%;
    margin: 20px;
}
.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
    
}
.hero-inferior-imagen{
   padding-bottom: 30px;
}
/* sobre mi */
.seccion-oscura{
/*     margin: 40px 0;
 */    color: #fff;
    background-color: #da7294;
}
.seccion-clara{
    color: #000;
    background-color: #fff;
}
.sobre-mi{
    height: 500px;
    padding: 200px;

}
.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}
/* experiencia */
.experiencia{
    padding: 40px 40px 60px 40px;
}
.experiencia .row div{
    height: 250px;
  /*   background-color: palegoldenrod;
    border: 1px solid #ccc; */
}
.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.experiencia i{
    width: 100px;
    height: 100px;
    font-size: 2rem;
    color: #da7294;
    background-color: rgba(251, 230, 1, 0.476);
    border-radius: 50%;
    margin: 0 auto;
}
.experiencia-contenedor{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
 .experiencia .columna{
    padding: 20px;
    border:2px solid #da7294;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    transition:all 0.2s ease-in;
} 
.experiencia .columna:hover{
    color: #fff;
    background-color: #da7294;
}
.badge{
    margin: 5px;
    background-color: #da7294 !important;
}
/* proyectos */
.proyectos-recientes{
    padding: 40px;
}
.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}
.proyecto-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;

}
.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
.proyecto{
    position: relative;
   margin:0 auto;
}
.proyecto:hover img{
    opacity: 0.5;
}
.proyecto:hover .overlay{
    opacity: 1;
    color: #333;

}
.overlay .iconos-contenedor{
    display: flex;
}
.overlay i{
    color: #333;
    font-size: 50px;
    margin: 10px;
}
/* .bi{
    color: #da7294;
    font-size: 50px;
} */
.btn-info{
    background-color: #da7294;
    border: none;
    color: #fff;
}
.btn-info:hover{
    background-color: #fff;
    border: 2px solid #da7294;
    color: #da7294;
    font-weight: bold;
}
/* articulos */
.articulos{
min-height: 500px;
padding: 30px;
}
.articulos .card{
    width: 80%;
    max-width: 600px;
    margin:20px
}
/* testimonios */
.testimonios{
    padding: 40px 40px 80px 40px;
}
.testimonios .carousel{
    max-width: 800px;
}
.testimonio-imagen{
    width: 150px;
    height: 150px;
    margin:10px 10px 20px 10px;
}
.testimonio-texto{
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;

}
.testimonio-info{
    font-weight: bold;
    text-align: center;
}
.testimonio-info p{
    margin-bottom: 0;
}
.testimonio-footer .cliente{
    font-size: 1.2rem;
}
.testimonio-info .cargo{
    font-size: 0.9rem;
    color: #656060;

}
.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* contacto */
.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}
.contacto .rectangulo{
    margin-top: -5rem;
    background-color: #da7295f7;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}
.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}
.contacto .seccion-descripcion{
    color: #fff;
    font-size: 1.2rem;
}
.contacto button{
    color: #fff;
    font-weight: bold;
    background-color:transparent;
    border: 2px solid #fff;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.contacto button:hover{
    background-color: #fff;
    color: #da7294;
}
.contacto button i{
    color: #fff;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}
.contacto button:hover i{
    color: #da7294;

}
/* footer */
.footer{
    min-height: 500px;
}
.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}
.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}
.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border:2px solid #fff;
    border-radius: 50%;
    transition: all 0.2 ease-in;
}
.iconos-redes-sociales i{
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.2 ease-in;;
}
.iconos-redes-sociales a:hover{
    background-color: #fff;
    border: 2px solid #da7294;
}
.iconos-redes-sociales a:hover i{
    color:#da7294;

}
/* derechos de auto */
.derechos-de-autor{
    font-size: 15px;
    color:#fff;
    padding: 20px;
}


/* responsive */
@media screen and (max-width: 400px){
    .overlay p{
        font-size: 18px;
    }
    .overlay i{
        font-size: 40px;
    }
}
@media screen and (max-width:767px ) {
    .navbar-brand{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .testimonio-imagen{
        height: 120px;
        width: 120px;
    }
    .testimonio-texto{
        font-size: 18px;
    }
}
@media screen and (min-width: 700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }
}